/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
* VARIABLES
* SETTINGS
*/
@import "compass/support";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";

@import "variables";
.rounded {
    @include border-radius(5px);
}

.rounded-tl {
    @include border-corner-radius(top, left, 5px);
}

.container {
    @include inline-block;
}

#opacity {
    background: pink;
    width: 50px;
    height: 50px;
    @include opacity(.5);
}